.loader6 {
  width: 70px;
  aspect-ratio: 1;
  position: relative;
}

.loader6::before,
.loader6::after {
  content: "";
  position: absolute;
  border-radius: 20px;
  box-shadow: 0px 0px 0px 5px inset #fff;
  animation: l4 2.5s infinite;
}

.loader6:after {
  animation-delay: -1.25s;
}

@keyframes l4 {
  0% {
    inset: 0 35px 35px 0;
  }

  12.5% {
    inset: 0 35px 0 0;
  }

  25% {
    inset: 35px 35px 0 0;
  }

  37.5% {
    inset: 35px 0 0 0;
  }

  50% {
    inset: 35px 0 0 35px;
  }

  62.5% {
    inset: 0 0 0 35px;
  }

  75% {
    inset: 0 0 35px 35px;
  }

  87.5% {
    inset: 0 0 35px 0;
  }

  100% {
    inset: 0 35px 35px 0;
  }
}
